<div class="shopName">
    <h1>Bikes Barn</h1>
</div>

<div class="inventory">
    <div class="inventoryTable">
        <!-- once the onAddItem event is received from the inventory component, this will trigger the populateCart function in the app component  -->
        <app-inventory [products]="inventory" (onAddItem)="populateCart($event)"></app-inventory>
    </div>
    <div class="shoppingCart">
        <h3>Cart</h3>
        <!-- https://stackoverflow.com/questions/49047553/how-to-iterate-dictionary-in-angular-template -->
        <table>
            <tr>
                <th>Cart</th>
            </tr>

            <tr *ngFor="let item of shoppingCart | keyvalue">
                <td>
                    <strong>{{ item.key }} (Qty: {{item.value.quantity}})</strong>
                    <div>
                        <div>
                            <img src={{item.value.imgUrl}} />
                        </div>
                    </div>

                    <!-- onclick, this will trigger the removeItemFromCart function in the app component -->
                    <div class="actionButton">
                        <button (click)="removeItemFromCart(item.key)">Remove</button>
                    </div>
                </td>
            </tr>
        </table>

    </div>
    
</div> 